_UAEFSDB.___
.info
Disk.info
/assets.info
/build.info
/docs.info
/src.info
build/installed.info
build/installed/*.info
build/installed/C/*
!build/installed/C/README.md
build/installed/Devs/*
!build/installed/Devs/README.md
build/installed/Fonts/*
!build/installed/Fonts/README.md
build/installed/Libs/*
!build/installed/Libs/README.md
build/installed/DCTelnet/**
build/package.info
build/sasc-*/**
build/sasc-*.info
build/vbcc-*/**
build/vbcc-*.info
build/Build-output*.txt
build/DCTelnet*.lha

# Host-built PETSCII test binaries
test/test_petscii_*
!test/test_petscii_*.c
